.main .connect-wallet button:last-of-type {
  display: none;
}

.left_ul_link {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: background-color 150ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
}

.link_text {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  margin: 4px 0;
  font-weight: 600;
  font-size: 16px;
  color: #12141e99;
}

.left_ul_link:hover {
  background-color: #8292ad0a;
}

.left_ul_link.active {
  background-color: rgba(16, 187, 53, 0.08);
}
.left_ul_link.active .link_text {
  color: #10bb35ff;
}

.left_ul_link.active:hover {
  background-color: rgba(16, 187, 53, 0.12);
}

.link_icon svg {
  fill: #8292ad8a;
  margin-right: 16px;
}

.left_ul_link.active .link_icon svg {
  fill: #10bb35ff;
  margin-right: 16px;
}

.connect-wallet.show-profile-connect-wallet button:first-of-type {
  align-self: left;
  display: none;
}